/* Write your code here: */

/*group selector*/
h1, h2{
    color: blueviolet;
}

/*child selector*/
.box > p{
    color: firebrick;
}

/*descendant*/
.box li{
    color: blue;
}

/*chained*/
li.done{
    color:seagreen
}

/* Multiple Combiners */
ul p.done{
    font-size: 0.5rem;
}



